/* Responsive Website Template : http://www.roblukedesign.com/trunk/trunk.html */
/* Slideshow Template: https://www.w3schools.com/howto/howto_js_slideshow.asp*/
/* Article Cards Tenplate: https://codepen.io/cjk47/pen/WWVRZZ*/
/* Footer Template: */

/* @group Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */



body {
	background-color: #000;
	
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}
a {text-decoration: none;}

.container {
	overflow: hidden;
	background-color: #000;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

header {
	height: 60px;
	position: relative;
	background-color: #000;
}
header h1 {
	text-align: left;
	font-size: 27px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 20px;
}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	display: none;
}
.burger li {
	width: 30px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
	margin: 5px 0;
}
.burger.open li {background-color: #000;}

nav {
	position: absolute;
	top: 0;
	right: 5px;
}

nav li {
	float: left;
	display: inline-block;
}

nav li a {
	font-size: 11px;
	color: #fff;
	padding: 24px 15px;
	display: block;
}

nav .active {background-color: grey;}


nav li a:hover {color: #860f04;}
/* End of Desktop View -->
/* Start of Mobile View | 780px or Less */
@media only screen and (max-width: 780px) {
	header {
		height: 60px;
		z-index: 2;
		background-color: #000;
		
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		
			/* starting point */
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	header h1 {
		color: #ffffff;
		text-align: center;
		padding-left: 0;
		display: block;
	}
	.burger {display: block;}


	/*  Nav Drawer Layout  */
	nav {position: relative;}

	nav ul {
		height: 100%;
		overflow-y: auto;
	}
	nav li {
		display: block;
		float: none;
	}
	nav li a {
		padding: 22px 25px;
		letter-spacing: 3px;
		font-size: 14px;
	}
	nav li a.logo {
		display: none;
	}
	nav li a.active {
		color: #fff;
		background-color: #400000;
	}
	nav li a:hover {
		color: #fff; /* Font Colour */
		background-color: #400000; /* Box Colour on Hover */
	}
	nav li:first-child a.active,
	nav li:first-child a:hover 
	{border-radius: 10px 0 0 0;}

	.header-section {margin-top: 60px;}


	/* NAVIGATION ANNIMATION */
	nav {
		width: 93%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		background-color: #000;
		border-radius: 8px;
		
		/* starting point */
		opacity: .3;
		-webkit-transform: translate3d(5%,0,0)scale(.97);
		-moz-transform: translate3d(5%,0,0)scale(.97);
		transform: translate3d(5%,0,0)scale(.97);
	}

	/*Nav Expanding Open Effect*/
	nav.open {
		opacity: 1;

		-webkit-transform: translate3d(0,0,0)scale(1);
		-webkit-animation: slideIn .35s ease-in-out;
		
		-moz-transform: translate3d(0,0,0)scale(1);
		-moz-animation: slideIn .35s ease-in-out;
		
		transform: translate3d(0,0,0)scale(1);
		animation: slideIn .35s ease-in-out;
	}
	@-webkit-keyframes slideIn {
		0%       {opacity: .3;
					-webkit-transform: translate3d(5%,0,0)scale(.97);}
		100%  {opacity: 1;
					-webkit-transform: translate3d(0,0,0)scale(1);}
	}
	@-moz-keyframes slideIn {
		0%      {opacity: .3;
					-moz-transform: translate3d(5%,0,0)scale(.97);}
		100%  {opacity: 1;
					-moz-transform: translate3d(0,0,0)scale(1);}
	}
	@keyframes slideIn {
		0%      {opacity: .3;
					transform: translate3d(5%,0,0)scale(.97);}
		100%  {opacity: 1;
					transform: translate3d(0,0,0)scale(1);}
	}

	/*Nav Shrinking Closed Effect*/
	nav.close {
		opacity: .3;
		
		-webkit-transform: translate3d(5%,0,0)scale(.97);
		-webkit-animation: slideOut .3s ease-in-out;
		
		-moz-transform: translate3d(5%,0,0)scale(.97);
		-moz-animation: slideOut .3s ease-in-out;
		
		transform: translate3d(5%,0,0)scale(.97);
		animation: slideOut .3s ease-in-out;
	}
	@-webkit-keyframes slideOut {
		0%      {opacity: 1;
					-webkit-transform: translate3d(0,0,0)scale(1);}
		100%  {opacity: .3;
					-webkit-transform: translate3d(5%,0,0)scale(.97);}
	}
	@-moz-keyframes slideOut {
		0%      {opacity: 1;
					-moz-transform: translate3d(0,0,0)scale(1);}
		100%  {opacity: .3;
					-moz-transform: translate3d(5%,0,0)scale(.97);}
	}
	@keyframes slideOut {
		0%      {opacity: 1;
					transform: translate3d(0,0,0)scale(1);}
		100%  {opacity: .3;
					transform: translate3d(5%,0,0)scale(.97);}
	}

	.content {
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		z-index: 1;
	}

	/*Content Sliding Open Effect*/
	header.open,
	.content.open 
	{   
		-webkit-transform: translate3d(240px,0,0);
		-webkit-animation: open .5s ease-in-out;
		
		-moz-transform: translate3d(240px,0,0);
		-moz-animation: open .5s ease-in-out;
		
		transform: translate3d(240px,0,0);
		animation: open .5s ease-in-out;
	}
	@-webkit-keyframes open {
		0%      {-webkit-transform: translate3d(0,0,0);}
		70%    {-webkit-transform: translate3d(260px,0,0);}
		100%  {-webkit-transform: translate3d(240px,0,0);}
	}
	@-moz-keyframes open {
		0%      {-moz-transform: translate3d(0,0,0);}
		70%    {-moz-transform: translate3d(260px,0,0);}
		100%  {-moz-transform: translate3d(240px,0,0);}
	}
	@keyframes open {
		0%      {transform: translate3d(0,0,0);}
		70%    {transform: translate3d(260px,0,0);}
		100%  {transform: translate3d(240px,0,0);}
	}

	/*Content Sliding Closed Effect*/
	header.close,
	.content.close 
	{
		-webkit-transform: translate3d(0,0,0);
		-webkit-animation: close .3s ease-in-out;
		
		-moz-transform: translate3d(0,0,0);
		-moz-animation: close .3s ease-in-out;
		
		transform: translate3d(0,0,0);
		animation: close .3s ease-in-out;
	}
	@-webkit-keyframes close {
		0%      {-webkit-transform: translate3d(240px,0,0);}
		100%  {-webkit-transform: translate3d(0,0,0);}
	}
	@-moz-keyframes close {
		0%       {-moz-transform: translate3d(240px,0,0);}
		100%  {-moz-transform: translate3d(0,0,0);}
	}
	@keyframes close {
		0%       {transform: translate3d(240px,0,0);}
		100%  {transform: translate3d(0,0,0);}
	}
} /* End of Mobile View */

/* Start of Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #400000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bbb;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} /* End of Slideshow */



/* Start of Main Article */
.main {
  float:left;
  width:60%;
  padding:10px 50px;
  background-color: #000;
  text-align: justify;
  margin-top: 20px;
  color: #fff;
  column-count: 2;
}
.right {
  background-color:#000;
  float:left;
  width:20%;
  padding:10px 50pxs;
  margin-top:7px;
  text-align:center;
}

.aritcle {font-color: #fff;}

h2 { 
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-size: 25px; 
	font-weight: 600;
	line-height: 26.4px; 
	column-span:all;
	padding-bottom: 20px;

}

p { 
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; line-height: 20px; 
}

a.readMore:link {color:#860f04;}
a.readMore:visited {color:#860f04;}
a.readMore:hover {color:#fff;}

@media only screen and (max-width:620px) {
.main, .right {width:100%; }
} /* End of Main Article */

/* Related Articles */

.articles{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  background-color: #000;
}

.articles__article-card{
height: 270px;
width: 350px;
cursor: pointer;
margin-bottom: 20px;
}

.articles__article-card:hover{
border-bottom: 5px solid #860f04;
box-sizing: border-box;
}

.articles__article-card__top{
background-image: url("https://grimhappenings.com/thumbs/750x560c/2019-02/anneliese-michel.jpg");
background-size: cover;
height: 60%;
position: relative;
}

.articles__article-card__top--two{
background-image: url("https://cheesecake.articleassets.meaww.com/243298/uploads/57d948d0-e792-11e9-a08c-b7de880f0b25_800_420.png");
}

.articles__article-card__top--three{
background-image: url("https://ichef.bbci.co.uk/news/660/cpsprodpb/DC96/production/_84807465_b506b603-f70c-459d-ba52-9cdf4657bcdf.jpg");
}

.articles__article-card__top__article-cat{
background: #860f04;
padding: 5px 10px;
border-radius: 6px;
color: #fff;
position: absolute;
top: 10px;
right: 10px;  
font-family: 'Libre Franklin', sans-serif;   
font-weight: 200;    
}

.articles__article-card__bottom{
background: #fff;
height: 40%;
}

.articles__article-card__bottom__date-title{
padding: 15px;
}

.articles__article-card__bottom__date-title__date{
font-size: 13px;
color: #99A7B0;
font-family: 'Libre Franklin', sans-serif;   
font-weight: 200;  
}

.articles__article-card__bottom__date-title__title{
margin-top: 6px;
font-family: 'Libre Franklin', sans-serif;
}

.mainArticle{
	  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  background-color:#000;
}

/*Footer|*/
img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
	
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

section, footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}

.advert {
	padding:20px;
}

.main-section {
    height: 100%;
    display: flex;
    flex-basis: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #171717;
}

.card-span {
    display: inline-block;
    width: 3.125em;
    height: 0.25em;
    background-color: #860f04;
    margin-bottom: 1.875em;
}
  
.card-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.875em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.45);
}



.cardImage {
    width: 100%;
}

.article-title {
    font-weight: 600;
    font-size: 2em;
    margin: 0 0 0.9em;
}

.article-descrip {
    font-weight: 300;
    line-height: 1.25em;
    margin: 0 0 1.9em 0;
}

.read-more-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #860f04;
    font-weight: bold;
    font-size: 0.8em;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 0.3125em;
    left: -0.3125em;
}

.read-more-button:hover {
    color: #860f04;
}

.read-more-button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: calc(50%);
    left: 0;
    width: 100%;
    height: 40%;
    pointer-events: none;
    background:   #3C1518;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.33s;
}

.read-more-button:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%;
}
  
.cardImage {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.card-text-container {
    margin: 60px 45px 55px;
}
  

@media screen and (min-width: 768px) {
    .card-container {
      flex-direction: row;
      width: 100%;
    }
    .cardImage {
      height: 26.25em;
      min-width: 22.5em;
      background-size: cover;
    }
   .card-text-container {
      margin: 0 3.75em;
      max-width: 41.25em;
    }
}

@media screen and (min-width: 1024px) {
    .card-container {
      max-width: 75em;
    }
}

		
			/*Footer|*/

        img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

section, footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}
.heading-jumbo {
	  background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/201805/prison.jpeg?58zaHtn2zWYYseS0v9bT4lXjWTK8G3Bt");
	  background-size: auto 1080px; 
	  border-radius: 0.1px;
	  padding: 150px;
	}



	.main-heading-text {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	  font-weight: 700;
	  color: white;
	  font-size: 50px;
	  margin-top: -4px;
	  margin-left: 30px;
	  padding-top: 20px;
	}

	.main-bio {
	  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	  font-weight: 500;
	  color: white;
	  font-size: 15px;
	  width: 90%;
	  margin-left: 30px;
	  margin-top: -4px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	}

	@media (min-width: 960px) {
	  .hidden-on-desktop {
		display: none;
	  }
	 
	}

	.author-title {
	  color: #fff;
	  margin-left: 30px;
	  font-size: 20px;
	  color: #fff;
	  margin-top: -4px;
	  padding-top: 20px;
	  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	}

	.minutes-title {
	  color: #fff;
	  margin-left: 30px;
	  font-size: 15px;
	  color: #fff;
	  border-bottom: thick solid #860f04;
	  margin-top: -4px;
	  padding-top: 20px;
	  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	}

	.date {
	  color: #fff;
	  float: left;
	  margin-left: 30px;
	  font-size: 20px;
	  color: #fff;
	  border-bottom: thick solid #860f04;
	  margin-top: -4px;
	  padding-top: 20px;
	}
	.blog {
	  margin: 0 150px;
	  font-size: 20px;
	  color: #fff;
	  padding-left: 60px;
	  padding-top: 20px;
	}

	.bio-name {
	  margin-left: 180px;
	  margin-top: -80px;
	  font-size: 24px;
	  text-transform: uppercase;
	  font-family: "Raleway", sans-serif;
	  color: #fff;
	}
	.bio {
	  margin-left: 180px;
	  margin-right: 300px;
	  margin-top: -40px;
	  font-family: "Raleway", sans-serif;
	  color: #fff;
	}
	
	
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://wallpapercave.com/wp/wp3981636.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(0,0,0,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
	color: white;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#860f04;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#860f04;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background: #860f04;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#860f04;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.password{
	color: white;
}
